<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="{{ KEYWORDS }}" />

    <meta property="og:title" content="{% block ogtitle %}{{ SITENAME }}{%endblock%}"/>
    <meta property="og:url" content="{% block ogurl %}{{ SITEURL }}{%endblock%}"/>
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:type" content="{% block ogtype %}website{%endblock%}"/>

    <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}{%endblock%}" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />

    <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/move-top.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/easing.js"></script>


    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        stLight.options({
            publisher: "{{ SHARETHIS_PUB_KEY }}",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false
        });
     </script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
    </script>

    {# emojify #}
    <script type="text/javascript" src="/emojify/js/emojify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/emojify/css/emojify.min.css" />
    <script type="text/javascript">
        emojify.setConfig({
            img_dir : '/emojify/images',
            ignore_emoticons: true,
        });
        $(document).ready(function() {
            emojify.run(document.getElementsByTagName('article')[0]);
        });
    </script>
    {# /emojify #}

</head>
<body id="index">
    {% include 'github.html' %}
    {% include 'header_menu.html' %}

    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    {% block content %}{% endblock %}
                </div>

                <div class="col-md-4 content-right">
                    {% block sidebar %}{% endblock %}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            {# <p>This blog is proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.</p> #}
            {# <p><a href="http://github.com/jsliang/pelican-fresh/">Fresh</a> is a responsive theme designed by <a href="http://jsliang.com/">jsliang</a> and <a href="https://github.com/jsliang/pelican-fresh/graphs/contributors">contributors</a>. Special thanks to <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a> and <a href="http://getbootstrap.com/">Twitter Bootstrap</a>. #}
            <p>Copyrights © 2015 Blog All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>

{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>
