{% extends "index.html" %}
{% block title %}Категории {{ SITENAME }}{% endblock %}
{% block ogtitle %}Категории {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/categories.html{%endblock%}
{% block canonicalurl %}{{ SITEURL }}/categories.html{%endblock%}

{% block content %}

<div class="archives-list">

    <h2>{% block content_title %}Категории {{ SITENAME }}{% endblock %}</h2>

    {% for category, articles in categories %}
        <dd><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a></dd>
    {% endfor %}

</div>

{% endblock %}
