{% if GOOGLE_CUSTOM_SEARCH %}
<script>
  (function() {
    var cx = '{{ GOOGLE_CUSTOM_SEARCH }}';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = 'https://www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

<form>
    <input type="text" placeholder="" required="">
    <input type="submit" value="">
</form>

<div id="google-custom-search" class="search">
    <gcse:search></gcse:search>
</div>
{% endif %}
