<div class="header">  
    <div class="container">
        <div class="logo">
            <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/images/logo.jpg" title="{{ SITENAME }}{% if SITESUBTITLE %} {{ SITESUBTITLE }}{% endif %}" alt="{{ SITENAME }}{% if SITESUBTITLE %} {{ SITESUBTITLE }}{% endif %}" /></a>
        </div>
        <!-- start-top-nav -->
            <div class="top-menu">
                {% include 'google_custom_search.html' %}

                <span class="menu"> </span> 
                    <ul>
                        {% for title, link in MENUITEMS %}
                            <li {% if link[1:] == output_file %}class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                            {% for pa in PAGES %}
                                <li {% if pa == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ pa.url }}">{{ pa.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                        {% if not HIDE_CATEGORIES_FROM_MENU %}
                            {% for cat, null in categories %}
                                <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                        {% endif %}

                        {# <li class="active"><a href="index.html">HOME</a></li>                        #}
                        {# <li><a href="about.html">ABOUT</a></li>  #}
                        {# <li><a href="contact.html">CONTACT</a></li>                      #}


                        <div class="clearfix"></div>
                    </ul>
            </div>

            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                });
            </script>
     </div>
</div>
