{% extends "index.html" %}
{% block title %}Теги {{ SITENAME }}{% endblock %}
{% block ogtitle %}Теги {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/tags.html{%endblock%}%}
{% block canonicalurl %}{{ SITEURL }}/tags.html{%endblock%}

{% block content %}

<div class="archives-list">

    <h2>{% block content_title %}Теги {{ SITENAME }}{% endblock %}</h2>

    {% for tag, articles in tags|sort %}
        <dd><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ articles|count }})</a></dd>
    {% endfor %}

</div>

{% endblock %}
